body {
  background-color: #f9f9f9;
}

.register-container {
  text-align: center;
  max-width: 94%;
}

.register-title {
  color: #252525;
  margin-top: 8vh;
}

.register-input {
  border: 1px solid #c4b8b8;
  padding-left: 10px;
  height: 7vh;
  width: 45.25vh;
  margin-top: 0.5vh;
  margin: 0 10px;
}

.register-form-1 {
  display: flex;
  justify-content: center;
}

.register-input-1 {
  max-width: 94%;
  border: 1px solid #c4b8b8;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  height: 7vh;
  width: 95.5vh;
  margin-top: 0.5vh;
}
